doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li My Text
    input(type="text").class-name#anyid
    - var dondition = true
    if condition
      p It's true now
    block content
